.header {
  align-items: center;
  background-color: rgb(40,44,52);
  box-shadow: inset 0px 0px 5px 0px white;
  color: white;
  display: flex;
  padding: 0.2% 2%;
}

.header img {
  height: 60px;
}

.header .trivia-logo {
  width: 20%;
}

.header .user-infos {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.header .user-infos img {
  border: solid 3px teal;
  border-radius: 100%;
  height: 80px;
  margin: 0 20px;
}

.score {
  background-color:  white;
  border: solid 2px teal;
  border-radius: 15px;
  color: rgb(40,44,52);
  padding: 5px 10px;
}

.score span {
  margin-left: 15px;
}