.question-container {
  background-color: tomato;
  border-radius: 15px;
  padding: 1%;
  text-align: center;
  width: 90%;
}

.question-container .answers button {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 40%;
}

.question-container .answers button:hover {
  background-color: teal;
  color: white;
}

.incorrect-answer {
  border: 3px solid rgb(255, 0, 0);
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.question-container .next-button {
  border-radius: 10px;
  margin: 30px 5px;
  padding: 15px;
  width: 30%;
}

.question-container .next-button:hover {
  background-color: teal;
  color: white;
}